@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navigation*/
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 78px;
    padding: 20px;
    position: relative;
    align-items: center;
}
.nav-box{
    flex: 1;
    width: 350px;
    height: 28px;
}
.nav-box ul {
    display:flex;
    list-style: none;
    justify-content: flex-end;
}
.nav-li{
   margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 14px;
    color:#173A56;
}
/*buttons*/
.sign-in-btn, .sign-up-btn {
    padding: 11px 25px;
    border: 1px solid #91a6ab;
    border-radius: 10px;
    background-color: #FFFFFF;
    color:#173A56;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
}
.sign-up-btn{
    background-color:#FF9900;
    color:rgb(227, 223, 223);
    padding: 11px 25px;
    border: 1px solid #4c7681;
}

/*head*/
.head {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    align-content: center;
    width: 1126px;
    height: 496px;
    background-color: #FFFFFF;
    position:absolute;
    top: 128px;
    left: 145px;
}
.head-text {
    width: 538px;
}
.head-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.head-btn button{
    background-color:#FF9900;
    padding: 10px 25px;
    border: none;
    color: white;
}
.head-image {
    width: 605px;
    height: 496px;
   justify-content: space-evenly;
} 
.design-text1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color:#1f1d1d;
}
.design-text2 {
    margin-top: 20px;
}
.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}
.font-headline {
    font-family: 'Poppins', sans-serif;
    font-style: solid;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.margin-left{
    margin-left: 20px;
}

.box-container{  /* det som gäller för alla boxer */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 900px;
    padding: 20px;

}
.box1{
    text-align: center;
    width: 180px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.box1 img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
li {
    list-style: none;
}

.heading-box {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
}

.rubrik-box {
    font-size: 600;
    margin-bottom: 10px;
    font-weight: semi-bold;
}

