@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 78px;
    padding: 20px;
    position: relative;
    align-items: center;
}
.nav-box{
    width: 350px;
    height: 28px;
}

.nav-con {
    display: flex;
    list-style: none;
    color:#2F281E;
    border-style: 1px solid black;   
}
.nav-li{
   margin-right: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.head{
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: absolute;
    width: 1126px;
    height: 496px;
    background-color: #FFFFFF;
    top: 128px;
    left: 145px;
}
.head-text {
    width: 538px;
    height: 331px;
    display: flex;
    flex-direction: column;
    margin-top: 83px;
}
.head-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.head-image {
    width: 605px;
    height: 496px;
}
.design-text {
    width: 518px;
    height: 108px;
    margin-top: -6px;
}
.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}
.font-headline {
    font-family: 'Poppins', sans-serif;
    font-style: solid;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.margin {
    margin-top: -45px;

}
.margin2 {
    margin-top: -10px;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
}
.box-container{  /* det som gäller för alla boxer */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    position:relative;
    top: 750px;
}
.box1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}
.box img {
    font-weight: 600;
    margin-bottom: 10px;
}
li {
    list-style: none;
}

.heading-box {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    width: 538px;
    height: 108px;
    position: relative;
    top: -190px;
    left: 600px;
    font-size: 36px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.rubrik-box {
    font-size: 600;
    margin-bottom: 10px;
    font-weight: semi-bold;
}
.sign-in-btn, .sign-up-btn {
    padding: 11px 25px;
    border: 1px solid #91a6ab;
    border-radius: 10px;
    background-color: #FFFFFF;
    color:#173A56;
    margin-left: 20px;
    height: 50px;
    margin-top: 10px;
}
.header-section-btn{
    background-color:#FF9900;
    color:rgb(227, 223, 223);
    padding: 11px 25px;
    border: 1px solid #4c7681;
    border-radius: 10px;
    color:#173A56;
    height: 50px;
    margin-top: 10px;
}


/* 01Navigation */
/* 

.link-container {
    display: flex;
    list-style: none;
    color:#2F281E;
    border-style: 1px solid black;
    
}

.nav-li{
    padding:20px;

}
.nav-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 28px; */

/* 02Header */
/* Text whole left side*/
/* .header-container {
display: flex;
justify-content: space-between;
width: 100%;
height: 500px; /*494.83px*/
/* padding: 10px 50px;
margin-top: 50px;
}
.header-section {   
max-width:150px;
display: flex;
flex-direction: column; 
justify-content: space-between;
max-width: 450px;
gap: 20px;
padding-left: 0px;
} */ 
/* .oval {
    margin-left: 50px;
    justify-content: flex-start;
    width: 604px;
    height: 495;
    index-z: 1; */


/* .happy-people{
    position: relative;
    height: auto;
    width: 50%;
    align-self:flex-end;
    margin-right: 50px;    
} */

    /* Button */


/* the design thinking */

/* .header-section-heading {
width: 451.7px;
height: 500.95px;
border-style: black;
gap: 40px;
padding-top: 30px;
font-family: "Poppins" sans-serif;
} */

/* Tools, tutorials, de */
/* .header-section-paragraph {
width: 436.48px;
height: 74.38px;
font-family: Arial, Helvetica, sans-serif;
gap: 20px;
padding-top: 20px;
align-content: center; */
}
/* .header-section-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px solid #FF9900;
    transform: rotate(90deg);
    border-radius: 1.13px;
    margin-right: 8.5px;
    position:absolute;
    right:130px;
    top: 500px;
} */
/* .header-section-btn {
    background-color: #FF9900;
    text-colo
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 50px;
} */
    
/* .btn {
    display: flex;
    margin-top:100px;
    align-items: center;
    height: 120px;
    flex-wrap: wrap;
    gap: 20px;
     */
}
 /* .header-section-video {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    color: #FF9900;
}  */

/*feature*/

/* 
.box-container{  /* det som gäller för alla boxer */
            /* display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            height: 200px;
            padding: 20px;
            box-sizing: border-box;
            margin-top: 100px; */

/* h3{
    font-size: 15px;
}
.box1 {
    width: 180px;
    height: 150px;
    border-color: #c4e5ed;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.heading-box {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    font-size: 36px;
    gap: 10px;
} */
